@Model Asignatura

@{
    ViewData["Title"] = "Información Asignatura";
    Layout = "Simple";

}

<h1>@ViewData["Title"]</h1>

<strong>Desde la Vista Principal</strong>
<p>
    Nombre: @Model.Nombre <br/>
    Id    : @Model.UniqueId
</p>

<strong>Desde la Vista Parcial</strong>
<partial name="AsignaturaSimple"/>

<p><i>@ViewData["Fecha"]</i></p>

